@tailwind base;
@tailwind components;
@tailwind utilities;

/** 커스터마이징 */
@import "customizing.css";

/** 코드 블럭 테마 */
@import 'prism-night-owl.css';

/** 코드 블럭 특정 옵션 ( 강조, 추가, 제거 등 ) */
@import 'rehype-prism-plus.css';

body {
  font-family: 'Noto Sans Variable', sans-serif;
}